form {
  width: 60%;
  margin-left: 3em;
}

#form-response {
  margin-top: 5em;
}

.mark-input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  margin: 1em;
}

form > button {
  float: right;
  margin-bottom: 3em;
}
