<div *ngIf="isDataAvailable">
  <app-panel-loader></app-panel-loader>
  <div *ngIf="userRole()" class="container">
    <div class="container">
      <h2>Create exams for class</h2>
    </div>
    <div class="container">
      <form #form="ngForm" (ngSubmit)="setBasic()" class="form-basic">
        <div class="form-group">
          <label for="course">Course</label>
          <select [(ngModel)]="selectedCourse" class="form-control form-control-sm" name="course">
            <option *ngFor="let course of courses" [ngValue]="course">{{course.title}}/{{course.year}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="etype">Exam Type</label>
          <select [(ngModel)]="etype" class="form-control" id="etype" name="etype" required>
            <option [ngValue]="TEST">Test</option>
            <option [ngValue]="TOPIC_TEST">Topic Test</option>
            <option [ngValue]="REPETITION">Repetition</option>
            <option [ngValue]="HOMEWORK">Homework</option>
          </select>
        </div>
        <div class="form-group">
          <label for="written_at">Written At</label>
          <input [(ngModel)]="written_at" class="form-control" id="written_at" name="written_at" required type="date">
        </div>
        <button class="btn btn-dark" type="submit">Create Form</button>
      </form>
    </div>
    <div *ngIf="isBasicSet" class="container" id="form-response">
      <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-students">
        <div class="form-objects">
          <table class="table table-borderless">
            <tbody>
            <tr *ngFor="let exam of exams; index as i">
              <td>
                <i>{{exam.student.student.username}}</i>
              </td>
              <td>
                <b>{{exam.student.student.fullName}}</b>
              </td>
              <td>
                <input [(ngModel)]="marks[i]" class="mark-input" max="5" min="1" name="mark" required type="number">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <button (click)="goBack()" class="btn btn-dark" type="submit">Back</button>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
