$student-color: #005cb9;
$secondary: #fff;
$padding: 4em;
$tr: all 0.3s ease;

.student-panel {
  width: 100%;
}

.student-panel-container {
  background-color: $student-color;
  color: white;
  border-bottom: 2px solid $student-color;
}

.title {
  font-weight: bold;
  padding-left: $padding;
  font-size: 1em;

}

.right {
  float: right;
}


.student-button {
  padding-right: $padding;
  background-color: $student-color;
  color: $secondary;
  cursor: pointer;
  transition: $tr;
  font-size: 1em;
  border: none;

  &:hover {
    background-color: $secondary;
    color: $student-color;
  }
}
