<div *ngIf="isDataAvailable">
  <app-panel-loader></app-panel-loader>
  <div *ngIf="userRole()" class="container">
    <div class="container">
      <h2>Update</h2>
    </div>
    <div class="container">
      <form #form="ngForm" (ngSubmit)="onSubmit()" class="form-course">
        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="response.title" class="form-control" id="title" name="title"
                 placeholder="{{course.title}}" required type="text" value="{{course.title}}">
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input [(ngModel)]="response.year" class="form-control" id="year" name="year" placeholder="{{course.year}}"
                 required type="number" value="{{course.year}}">
        </div>
        <div class="form-group">
          <label for="teacher">Teacher</label>
          <select [(ngModel)]="selectedOption" class="form-control form-control-sm" name="teacher">
            <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.teacher.fullName}}</option>
          </select>
        </div>
        <button (click)="goBack()" class="btn btn-dark" type="submit">Back</button>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
