$gray: #9b9b9b;

h2 {
  margin: 1em;
}

table {
  margin-top: 2em;
}

.form-control-searchbox {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

td > button {
  margin-right: 0.1em;
}
