$primary: #292b2c;
$secondary: #fff;
$font-size: 1em;
$padding-top: 15px;
$padding-vertical: 15px;
$tr: all 0.3s ease;

:host {
  position: relative;
  z-index: 10;
  color: $secondary;
}

.home-button {
  background-color: $primary;
  color: $secondary;
  font-size: $font-size;
  border: none;
  cursor: pointer;
  transition: $tr;
  padding: $padding-top $padding-vertical;

  &:hover {
    background-color: $secondary;
    color: $primary;
  }
}

.toolbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $primary;

  .right {
    margin-left: auto;
    float: right;
  }
}

.log-button {
  background-color: $primary;
  color: $secondary;
  font-size: $font-size;
  border: none;
  cursor: pointer;
  transition: $tr;
  padding: $padding-top $padding-vertical;

  &:hover {
    background-color: $secondary;
    color: $primary;
  }
}

span {
  font-size: 1.5em;
  padding: $padding-top - 6 $padding-vertical;
  cursor: pointer;
}

