<div *ngIf="isDataAvailable">
  <app-panel-loader></app-panel-loader>
  <div *ngIf="userRole()" class="container">
    <div class="container">
      <h2>Create</h2>
    </div>
    <div class="container">
      <form #form="ngForm" (ngSubmit)="onUserSubmit()" class="form">
        <div class="form-group">
          <label for="username">Username</label>
          <input [(ngModel)]="user.username" [disabled]="userSubmitted" class="form-control" id="username"
                 name="username" placeholder="Username" required type="text">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="user.password" [disabled]="userSubmitted" class="form-control" id="password"
                 name="password" placeholder="Password" required type="password">
        </div>
        <div class="form-group">
          <label for="fullName">Fullname</label>
          <input [(ngModel)]="user.fullName" [disabled]="userSubmitted" class="form-control" id="fullName"
                 name="fullName" placeholder="Fullname" required type="text">
        </div>
        <button [disabled]="userSubmitted" class="btn btn-success" type="submit">Submit</button>
      </form>
      <form #form="ngForm" (ngSubmit)="onStudentSubmit()" *ngIf="userSubmitted" class="form">
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth</label>
          <input [(ngModel)]="student.dateOfBirth" class="form-control" id="dateOfBirth" name="dateOfBirth" required
                 type="date">
        </div>
        <div class="form-group">
          <label for="start_year">Start year</label>
          <input [(ngModel)]="student.start_year" class="form-control" id="start_year" name="start_year"
                 placeholder="2017" required type="number">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input [(ngModel)]="student.address" class="form-control" id="address" name="address"
                 placeholder="4444, Kecskecen Vetheln utca 13." required type="text">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select [(ngModel)]="selectedOptionGender" class="form-control form-control-sm" name="gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="educationId">Education ID</label>
          <input [(ngModel)]="student.educationId" class="form-control" id="educationId" name="educationId"
                 placeholder="1234567" required type="text">
        </div>
        <div class="form-group">
          <label for="healthCareId">Health Care ID</label>
          <input [(ngModel)]="student.healthCareId" class="form-control" id="healthCareId" name="healthCareId"
                 placeholder="333/222/111" required type="text">
        </div>
        <div class="form-group">
          <label for="parent1Name">Parent 1</label>
          <input [(ngModel)]="student.parent1Name" class="form-control" id="parent1Name" name="parent1Name"
                 placeholder="Firstname Middlename Lastname" type="text">
        </div>
        <div class="form-group">
          <label for="parent2Name">Parent 2</label>
          <input [(ngModel)]="student.parent2Name" class="form-control" id="parent2Name" name="parent2Name"
                 placeholder="Firstname Middlename Lastname" type="text">
        </div>
        <div class="form-group">
          <label for="parent1Phone">Parent 1 Phone</label>
          <input [(ngModel)]="student.parent1Phone" class="form-control" id="parent1Phone" name="parent1Phone"
                 placeholder="parent 1 Phone" type="text">
        </div>
        <div class="form-group">
          <label for="parent2Phone">Parent 2 Phone</label>
          <input [(ngModel)]="student.parent2Phone" class="form-control" id="parent2Phone" name="parent2Phone"
                 placeholder="parent 2 Phone" type="text">
        </div>
        <div class="form-group">
          <label for="classroom">Classroom</label>
          <select [(ngModel)]="selectedOption" class="form-control form-control-sm" name="classroom">
            <option *ngFor="let classroom of classrooms" [ngValue]="classroom">{{classroom.year}}
              /{{classroom.letter}}</option>
          </select>
        </div>
        <button (click)="goBack()" class="btn btn-dark" type="submit">Back</button>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>

  </div>
